<div class="post-info">
    <div class="post-info__user">
        <a href="/profile/{{user.id}}">{{user.username}}</a>
    </div>
    <div class="post-info__date">
        {{format_date created_at}}
    </div>
